* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    background-image: url(../homeimage/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-width: 100%;
    min-height: 500px;
    background-size: cover;
}

.navbar {
    background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
    background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
    overflow: hidden;
    background-color: #333;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.fixed .date {
    float: right;
    color: white;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 18%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.aExcept {
    text-decoration: rebeccapurple;
    color: purple;
}

a {
    text-decoration: none;
    color: white;
}

.sociallogo {
    width: 8%;
    height: 8%;
}

.fonting {
    color: white;
    text-align: center;
}

label {
    align-items: center;
    color: darkmagenta;
}

input {
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    height: 50px;
    width: 200px;
    color: darkorchid;
}

Button {
    align-items: center;
    border-radius: 5px;
    height: 35px;
    width: 90px;
    transition: all 0.5s;
    background-color: darkorchid;
}

Button:hover {
    padding-right: 20px;
}


input:focus {
    border-color: grey;
}

footer {
    margin-top: 35px;
    margin-left: 42%;
}